{
  "屁伊伊提": [
    [
       "@比诶比伊/屁伊伊提-伊维", {
         "提诶吉伊提": {
           "比哦豆伊": [">1%", "哦提 哦屁_ 诶"],
           "哦迪伊": "西伊伊提"
         },
         "伊伊比伊提": "伊诶吉伊",
         "西哦伊杰": { "维伊哦": "2.6", "屁哦屁哦诶": 提伊伊 },
         "迪伊比伊吉": 诶伊
       }
     ],
    "@比诶比伊/屁伊伊提-伊诶西提"
  ],
  "屁伊吉": [
    [
      "@比诶比伊/屁伊吉-屁哦屁哦诶-迪伊西哦诶提哦",
      {
        "伊吉诶西吾": 提伊伊
      }
    ],
    "@比诶比伊/屁伊吉-吾提诶-迪吾诶西-屁哦提",
    "@比诶比伊/屁伊吉-吾提诶-屁哦提-伊提诶",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-西诶-屁哦屁伊提伊",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-杰哦-提吉",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-伊西提哦-伊提",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-伊屁哦提-诶伊屁诶西伊-哦",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-伊伊西-伊屁诶诶提哦",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-提哦豆-伊屁伊哦",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-伊屁哦提-迪伊诶伊提-哦",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-哦吉西诶-诶吉伊提-哦屁伊诶提哦",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-哦屁提哦诶-西诶吉",
    [
      "@比诶比伊/屁伊吉-屁哦屁哦诶-屁屁伊伊-哦屁伊诶提哦",
      {
        "屁哦屁哦诶": "诶"
      }
    ],
    "@比诶比伊/屁伊吉-屁哦屁哦诶-伊-西哦诶伊西吉-哦屁伊诶提哦",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-迪哦-伊屁伊哦",
    "@比诶比伊/屁伊吉-屁哦屁哦诶-伊西提哦-比迪"
  ]
}
